:root {
  /* Couleurs du thème clair (par défaut) */
  --primary-color: #aae8ff73;
  --secondary-color: #69d7ff;
  --primary-color-hover: #3bcbff;
  --text-color: #000;
  --text-color-light: #6b7280;
  --background-color: #ffffff;
  --background-color-alt: #f9fafb;
  --border-color: #e5e7eb;
  --button-color: #d5d5d9;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --header-bg: rgba(255, 255, 255, 0.9);
  --card-bg: #f3efef;
  --scrollbar-color: #dde2ec;
  --red-light: #ffe5e5;
  --red: #ff4d4f;
  --red-dark: #b8001e;
  --orange-light: #fff1e6;
  --orange: #fa8c16;
  --orange-dark: #b65d00;
  --yellow-light: #fffbe6;
  --yellow: #fadb14;
  --yellow-dark: #bfa600;
}

[data-theme="dark"] {
  /* Couleurs du thème sombre */
  --primary-color: #aae8ff73;
  --secondary-color: #aae8ff;
  --primary-color-hover: #97e3ff;
  --text-color: #f9fafb;
  --text-color-light: #d1d5db;
  --background-color: #0a0a0a;
  --background-color-alt: #1f2937;
  --border-color: #484a4d;
  --button-color: #4c4b53;
  --shadow-color: rgba(255, 255, 255, 0.3);
  --header-bg: rgba(17, 24, 39, 0.9);
  --card-bg: #1f2937;
  --scrollbar-color: #484a4d;
  --red-light: #8c5a5a;   /* rouge clair, un peu plus saturé */
  --red: #b05e5e;         /* rouge moyen */
  --red-dark: #7d4141;    /* rouge foncé */

  --orange-light: #8c705a; /* orange clair */
  --orange: #b27b59;       /* orange moyen */
  --orange-dark: #7d563a;  /* orange foncé */

  --yellow-light: #8c8b5a; /* jaune clair */
  --yellow: #b4b55a;       /* jaune moyen */
  --yellow-dark: #7d7a3a;  /* jaune foncé */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-color-hover);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

li {
  list-style: none;
  margin: 0;
}

/* Scrollbar personnalisée */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 10px;
}
